In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns # Graphing
import gc
import geopandas as gpd
import scipy
from haversine import haversine

/Users/laurenflemmer/Library/Python/3.8/lib/python/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.3-CAPI-1.16.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [5]:
# read 2016, 2017 properties data

df_2016 = pd.read_csv('/Users/laurenflemmer/Desktop/zillow_proj/data/properties_2016.csv')
df_2017 = pd.read_csv('/Users/laurenflemmer/Desktop/zillow_proj/data/properties_2017.csv')

/var/folders/hd/l3cc346x2v93nv8mpvg27r400000gn/T/ipykernel_5148/2514249656.py:3: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2016 = pd.read_csv('/Users/laurenflemmer/Desktop/zillow_proj/data/properties_2016.csv')
/var/folders/hd/l3cc346x2v93nv8mpvg27r400000gn/T/ipykernel_5148/2514249656.py:4: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2017 = pd.read_csv('/Users/laurenflemmer/Desktop/zillow_proj/data/properties_2017.csv')

In [3]:
print(df_2016.shape)
print(df_2017.shape)

(2985217, 58)
(2985217, 58)

In [4]:
df_2016.head(10)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015.0,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015.0,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015.0,239695.0,5725.17,NaN,NaN,NaN
5,10898347,NaN,NaN,NaN,0.0,0.0,4.0,7.0,NaN,NaN,...,1.0,NaN,176383.0,283315.0,2015.0,106932.0,3661.28,NaN,NaN,NaN
6,10933547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,397945.0,554573.0,2015.0,156628.0,6773.34,NaN,NaN,NaN
7,10940747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,1.0,NaN,101998.0,688486.0,2015.0,586488.0,7857.84,NaN,NaN,NaN
8,10954547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN
9,10976347,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,218440.0,261201.0,2015.0,42761.0,4054.76,NaN,NaN,NaN

In [5]:
df_2017.head(10)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015.0,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN
5,10898347,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,179072.0,287634.0,2016.0,108562.0,3661.28,NaN,NaN,NaN
6,10933547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,404013.0,563029.0,2016.0,159016.0,6773.34,NaN,NaN,NaN
7,10940747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,1.0,NaN,103553.0,698984.0,2016.0,595431.0,7857.84,NaN,NaN,NaN
8,10954547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2016.0,9.0,NaN,NaN,NaN,NaN
9,10976347,NaN,NaN,NaN,0.0,0.0,3.0,4.0,NaN,NaN,...,1.0,NaN,221771.0,265184.0,2016.0,43413.0,4054.76,NaN,NaN,NaN

In [6]:
df_2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 58 columns):
 #   Column                        Dtype
---  ------                        -----
 0   parcelid                      int64
 1   airconditioningtypeid         float64
 2   architecturalstyletypeid      float64
 3   basementsqft                  float64
 4   bathroomcnt                   float64
 5   bedroomcnt                    float64
 6   buildingclasstypeid           float64
 7   buildingqualitytypeid         float64
 8   calculatedbathnbr             float64
 9   decktypeid                    float64
 10  finishedfloor1squarefeet      float64
 11  calculatedfinishedsquarefeet  float64
 12  finishedsquarefeet12          float64
 13  finishedsquarefeet13          float64
 14  finishedsquarefeet15          float64
 15  finishedsquarefeet50          float64
 16  finishedsquarefeet6           float64
 17  fips                          float64
 18  fireplacecnt                  float64
 19  fullbathcnt                   float64
 20  garagecarcnt                  float64
 21  garagetotalsqft               float64
 22  hashottuborspa                object
 23  heatingorsystemtypeid         float64
 24  latitude                      float64
 25  longitude                     float64
 26  lotsizesquarefeet             float64
 27  poolcnt                       float64
 28  poolsizesum                   float64
 29  pooltypeid10                  float64
 30  pooltypeid2                   float64
 31  pooltypeid7                   float64
 32  propertycountylandusecode     object
 33  propertylandusetypeid         float64
 34  propertyzoningdesc            object
 35  rawcensustractandblock        float64
 36  regionidcity                  float64
 37  regionidcounty                float64
 38  regionidneighborhood          float64
 39  regionidzip                   float64
 40  roomcnt                       float64
 41  storytypeid                   float64
 42  threequarterbathnbr           float64
 43  typeconstructiontypeid        float64
 44  unitcnt                       float64
 45  yardbuildingsqft17            float64
 46  yardbuildingsqft26            float64
 47  yearbuilt                     float64
 48  numberofstories               float64
 49  fireplaceflag                 object
 50  structuretaxvaluedollarcnt    float64
 51  taxvaluedollarcnt             float64
 52  assessmentyear                float64
 53  landtaxvaluedollarcnt         float64
 54  taxamount                     float64
 55  taxdelinquencyflag            object
 56  taxdelinquencyyear            float64
 57  censustractandblock           float64
dtypes: float64(52), int64(1), object(5)
memory usage: 1.3+ GB

In [7]:
df_2016.isnull().sum()

parcelid                              0
airconditioningtypeid           2173698
architecturalstyletypeid        2979156
basementsqft                    2983589
bathroomcnt                       11462
bedroomcnt                        11450
buildingclasstypeid             2972588
buildingqualitytypeid           1046729
calculatedbathnbr                128912
decktypeid                      2968121
finishedfloor1squarefeet        2782500
calculatedfinishedsquarefeet      55565
finishedsquarefeet12             276033
finishedsquarefeet13            2977545
finishedsquarefeet15            2794419
finishedsquarefeet50            2782500
finishedsquarefeet6             2963216
fips                              11437
fireplacecnt                    2672580
fullbathcnt                      128912
garagecarcnt                    2101950
garagetotalsqft                 2101950
hashottuborspa                  2916203
heatingorsystemtypeid           1178816
latitude                          11437
longitude                         11437
lotsizesquarefeet                276099
poolcnt                         2467683
poolsizesum                     2957257
pooltypeid10                    2948278
pooltypeid2                     2953142
pooltypeid7                     2499758
propertycountylandusecode         12277
propertylandusetypeid             11437
propertyzoningdesc              1006588
rawcensustractandblock            11437
regionidcity                      62845
regionidcounty                    11437
regionidneighborhood            1828815
regionidzip                       13980
roomcnt                           11475
storytypeid                     2983593
threequarterbathnbr             2673586
typeconstructiontypeid          2978470
unitcnt                         1007727
yardbuildingsqft17              2904862
yardbuildingsqft26              2982570
yearbuilt                         59928
numberofstories                 2303148
fireplaceflag                   2980054
structuretaxvaluedollarcnt        54982
taxvaluedollarcnt                 42550
assessmentyear                    11439
landtaxvaluedollarcnt             67733
taxamount                         31250
taxdelinquencyflag              2928755
taxdelinquencyyear              2928753
censustractandblock               75126
dtype: int64

In [8]:
# read in 2016, 2017 train dataset (with y- variables)
train_df_2016 =pd.read_csv('/accounts/grad/huz4/Desktop/STAT222/train_2016_v2.csv')
train_df_2017 =pd.read_csv('/accounts/grad/huz4/Desktop/STAT222/train_2017.csv')

In [9]:
train_df_2016.shape

(90275, 3)

In [10]:
train_df_2017.shape

(77613, 3)

In [11]:
train_df_2017.head(10)

   parcelid  logerror transactiondate
0  14297519  0.025595      2017-01-01
1  17052889  0.055619      2017-01-01
2  14186244  0.005383      2017-01-01
3  12177905 -0.103410      2017-01-01
4  10887214  0.006940      2017-01-01
5  17143294 -0.020526      2017-01-01
6  12095076 -0.001011      2017-01-01
7  12069064  0.101723      2017-01-01
8  12790562 -0.040966      2017-01-02
9  11542646 -0.036763      2017-01-02

In [12]:
train_df_2016.head(10)

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02
5  11509835   -0.2705      2016-01-02
6  12286022    0.0440      2016-01-02
7  17177301    0.1638      2016-01-02
8  14739064   -0.0030      2016-01-02
9  14677559    0.0843      2016-01-03

In [13]:
# Merge properties_df and train_df for a combined dataset 
#train1 = pd.DataFrame(pd.merge(train_df_2016, df_2016, on='parcelid', how='left'))
#train2 = pd.DataFrame(pd.merge(train_df_2017, df_2017, on='parcelid', how='left'))
#train_df = pd.DataFrame(pd.concat([df_2016, df_2017]))
train_df = df_2017
train_df.shape

(2985217, 58)

In [14]:
# To use Tax as Y, filter out any NaN in tax amount at first
train_df =train_df.dropna(subset = ['taxamount'])
train_df.head(10)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1.0,NaN,660680.0,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1.0,NaN,580059.0,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,196751.0,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN
5,10898347,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,1.0,NaN,179072.0,287634.0,2016.0,108562.0,3661.28,NaN,NaN,NaN
6,10933547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,404013.0,563029.0,2016.0,159016.0,6773.34,NaN,NaN,NaN
7,10940747,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,1.0,NaN,103553.0,698984.0,2016.0,595431.0,7857.84,NaN,NaN,NaN
9,10976347,NaN,NaN,NaN,0.0,0.0,3.0,4.0,NaN,NaN,...,1.0,NaN,221771.0,265184.0,2016.0,43413.0,4054.76,NaN,NaN,NaN
10,11070347,1.0,NaN,NaN,4.0,4.0,NaN,1.0,4.0,NaN,...,NaN,NaN,138760.0,192544.0,2016.0,53784.0,2460.72,NaN,NaN,NaN
11,11073947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,1.0,NaN,249582.0,436767.0,2016.0,187185.0,6014.18,NaN,NaN,NaN
13,11116947,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,171200.0,2016.0,171200.0,4690.68,NaN,NaN,NaN

In [15]:
# Filter out assessment year later than 2015 for price perdiction
train_df =train_df.loc[train_df['assessmentyear'] >= 2015]
# We still have a lot of data!
train_df.shape

(2961361, 58)

In [ ]:
## Cover tax to housing price based on the property tax rate in 2017 for three different county.
### The region id in dataset does not include any information, we will use their geo location to find some pattern.

In [ ]:
# Find best starting point for view a map in LA
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="bytescout", timeout=None)

location = "Los Angeles"

loc_lat_long = geolocator.geocode(query = location)

print(loc_lat_long.latitude, loc_lat_long.longitude)

In [ ]:
# Initilizing heat map
import folium

from folium.plugins import HeatMap

states = ["California"]

map_obj = folium.Map(location = [34.0536909, -118.242766], zoom_start = 9)

In [ ]:
# Convert latitude and longitude to regular scale
import warnings
# Only focus on region id 3101
region_df = df_2017[df_2017['regionidcounty']>=3101]
warnings.filterwarnings("ignore")
geo_df = region_df[['latitude', 'longitude','regionidcounty']]
geo_df['longitude']/=1e6
geo_df['latitude']/=1e6
geo_df.dropna(subset=['latitude','longitude'], axis=0 ,inplace=True)

In [ ]:
geo_df.dropna(inplace = True)
geo_df.isnull().sum(axis =0)
# heat map for regionid county start with 3
lats_longs_weight = list(map(list, zip(geo_df["latitude"],
                          geo_df["longitude"],
                          geo_df["regionidcounty"]
                         )
               )
           )
HeatMap(lats_longs_weight).add_to(map_obj)

map_obj

### Based on the map, region id start with 3 belongs to the LA county, and lets figure out what region id starts with 1 and 2 stands for.

In [ ]:
# Initilizing heat map
import folium

from folium.plugins import HeatMap

states = ["California"]

map_obj2 = folium.Map(location = [34.0536909, -118.242766], zoom_start = 9)

In [ ]:
# Convert latitude and longitude to regular scale
import warnings
# Only focus on region id start with 2
region_df = df_2017[(df_2017['regionidcounty']>=2000) & (df_2017['regionidcounty']<3000)]
warnings.filterwarnings("ignore")
geo_df = region_df[['latitude', 'longitude','regionidcounty']]
geo_df['longitude']/=1e6
geo_df['latitude']/=1e6
geo_df.dropna(subset=['latitude','longitude'], axis=0 ,inplace=True)
geo_df.head(10)

In [ ]:
geo_df.dropna(inplace = True)
geo_df.isnull().sum(axis =0)
# heat map for regionid county start with 2
lats_longs_weight = list(map(list, zip(geo_df["latitude"],
                          geo_df["longitude"],
                          geo_df["regionidcounty"]
                         )
              )
          )
HeatMap(lats_longs_weight).add_to(map_obj2)

map_obj2

In [ ]:
# Initilizing heat map
import folium

from folium.plugins import HeatMap

states = ["California"]

map_obj3 = folium.Map(location = [34.0536909, -118.242766], zoom_start = 9)

In [ ]:
# Convert latitude and longitude to regular scale
import warnings
## Only focus on region id start with 1
region_df = df_2017[(df_2017['regionidcounty']<2000)]
warnings.filterwarnings("ignore")
geo_df = region_df[['latitude', 'longitude','regionidcounty']]
geo_df['longitude']/=1e6
geo_df['latitude']/=1e6
geo_df.dropna(subset=['latitude','longitude'], axis=0 ,inplace=True)
geo_df.head(10)

In [ ]:
geo_df.dropna(inplace = True)
geo_df.isnull().sum(axis =0)
# heat map for all data
lats_longs_weight = list(map(list, zip(geo_df["latitude"],
                          geo_df["longitude"],
                          geo_df["regionidcounty"]
                         )
               )
           )
HeatMap(lats_longs_weight).add_to(map_obj2)

map_obj3

### Based on the gro location, regionidcounty start with 3 represents LA county, 2 represents Ventura county and 1 Represent Orange county

### Now we can conver the tax by tax rate in each county at 2017
#### LA = 1.193027%
#### Orange = 1.09990%
#### Ventura = 1.16660%

In [ ]:
la_df = train_df[train_df['regionidcounty'] >=3000]
la_df['price'] = la_df['taxamount']/0.01193027

ventura_df = train_df[(train_df['regionidcounty'] <3000) & (train_df['regionidcounty'] >=2000)]
ventura_df['price'] = ventura_df['taxamount']/0.0116660

orange_df = train_df[(train_df['regionidcounty'] < 2000)]
orange_df['price'] = orange_df['taxamount']/0.0109990

In [ ]:
train_df = la_df.append(ventura_df)
train_df = train_df.append(orange_df)
train_df.shape

## Creating distance variables
### Distance from downtown LA

In [17]:
# fix lat, long values in data
adj_coords = train_df[["latitude", "longitude"]]/1e6

dtla_coords = (34.0488, -118.2518)
property_coords = adj_coords.values.tolist()
property_coords = [tuple(x) for x in property_coords]


# calculate haversine distance from each property to downtown la
train_df["dist_to_dtla"] = list(map(lambda coord: haversine(coord, dtla_coords, unit='mi'), property_coords))

### Distance to the Ocean

In [18]:
# create coordinate list for points along the coast
coast_data = pd.read_csv("/accounts/grad/huz4/Desktop/STAT222/Zillow-project/coast_data.csv")

# find point where the latitude of the property is equal to the latitude of the coastline (closest distance to the ocean)
closest_pair_list = []
for lat in adj_coords["latitude"]:
    lat_dist_list = abs(coast_data["Y"] - lat)
    min_lat_dist_idx = (np.array(lat_dist_list)).argmin()

    # get corresponding (lat, long) pair for the coastline point
    closest_pair_all = coast_data.iloc[min_lat_dist_idx]
    closest_pair_list.append(closest_pair_all[["Y", "X"]])

In [19]:
# convert to tuple
closest_pair_list = [tuple(x) for x in closest_pair_list]
print(closest_pair_list[0:10])

# compute haversine distance from property to the nearest coastline location
dist_ocean_list = []
for i in range(len(property_coords)):
    dist_ocean_list.append(haversine(property_coords[i], closest_pair_list[i], unit='mi'))

train_df["dist_to_ocean"] = dist_ocean_list
train_df.head()

[(33.980935, -118.469719), (34.145083, -119.199561), (34.220436, -119.261803), (34.145083, -119.199561), (34.145083, -119.199561), (34.145083, -119.199561), (34.267182, -119.279121), (34.267182, -119.279121), (34.267182, -119.279121), (34.267182, -119.279121)]

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,price,dist_to_dtla,dist_to_ocean
2,10843547,NaN,NaN,NaN,0.0,0.0,5.0,NaN,NaN,NaN,...,1434941.0,2016.0,774261.0,20800.37,NaN,NaN,NaN,2.536630e+06,9.152931,4.340954
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,6.0,NaN,NaN,...,1174475.0,2016.0,594416.0,14557.57,NaN,NaN,NaN,1.775313e+06,12.661995,43.593469
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,440101.0,2016.0,243350.0,5725.17,NaN,NaN,NaN,6.981915e+05,12.634968,50.087402
5,10898347,NaN,NaN,NaN,0.0,0.0,4.0,4.0,NaN,NaN,...,287634.0,2016.0,108562.0,3661.28,NaN,NaN,NaN,4.464976e+05,11.263157,46.842204
6,10933547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,563029.0,2016.0,159016.0,6773.34,NaN,NaN,NaN,8.260171e+05,8.094312,48.508329

## Split the data

In [20]:
# do a 80,20 split on data, set a seed
import random
random.seed(222)
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(train_df, test_size=0.2)

In [21]:
print(train_df.shape)
print(test_df.shape)

(2369088, 61)
(592273, 61)

## Save train, test set to csv

In [22]:
train_df.to_csv('train_data.csv', index=False)
test_df.to_csv('test_data.csv', index=False)